<p translate="no">
    <a href="{{ schema.url }}" class="company">{{ company.name }}</a>
    <span class="street-address">{{ company.address }}</span>
    <span class="postal-code">{{ company.town }}</span>
    <span class="town">{{ company.postalcode }}</span>
    <span class="country">{{ company.country|trans }}</span>
    <span class="phone">{{ company.phone }}</span>
    <a href="mailto:{{ company.email }}" class="email">{{ company.email }}</a>
</p>