<table class="opening-hours">
{% for day, data in times %}
    {% if (data.closed is not defined or data.closed == false) and (data.open is defined and data.close is defined)%}
    <tr class="{{ day }}">
        <td>{{ day | capitalize | trans }}</td>
        <td>{{ data.open }} - {{ data.close }}</td>
    </tr>
    {% if(times.lunchbreak and (data.open_pm is defined and data.close_pm is defined)) %}
    <tr class="{{ day }} afternoon">
        <td></td>
        <td>{{ data.open_pm }} - {{ data.close_pm }}</td>
    </tr>
    {% endif %}
    {% endif %}
{% endfor %}
</table>